.clearfloat::after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

.NewLeft{
  float: left;
  width: 690px;
}
.NewRight{
  float: right;
  width: 300px;
  height: 1000px;
  background-color: rgb(223, 46, 46);
}
.krInformationChannel {
  background: #edf1f4;
  border-radius: 1px;
  padding: 10px 24px;
}
.krInformationChannel .channelItem {
  border-radius: 1px;
  color: #262626;
  float: left;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin: 5px 10px;
  min-width: 60px;
  padding: 0 12px;
  text-align: center;
  cursor: pointer;
}
.krInformationChannel .channelItem.active {
  background: #4285f4;
  color: #fff;
}
.krInformationFlow {
  padding-top: 40px;
  width: 100%;
}
.informationFlowItem {
  margin-bottom: 30px;
}
.krFlowArticleItem {
  display: block;
  height: 143px;
  position: relative;
}
.krShadowWrapper {
  height: 100%;
  position: relative;
  width: 100%;
  transition: all .2s linear;
}
.krShadowWrapperCard {
  border-radius: 2px;
  position: absolute;
  transition: all .2s linear;
  z-index: 101;
}
.krShadowWrapper:hover {
  box-shadow: 0 0 10px 5px rgba(14, 13, 13, 0.2);
}
.krShadowContent {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 102;
}
.articleItemPic {
  border-radius: 2px;
  display: flex;
  float: left;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 216px;
  z-index: 10;
}
.scaleBig {
  transition: all 1s;
  height: 100%;
}
.scaleBig:hover {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}
.articleItemInfo {
  float: left;
  height: 100%;
  margin-left: 20px;
  position: relative;
  width: 454px;
}
.feedTitleWrapper {
  line-height: 24px;
  margin-top: 8px;
  max-height: 48px;
  overflow: hidden;
}
.ellipsis2 {
  -webkit-line-clamp: 2;
}
.ellipsis2, .ellipsis3 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.articleItemChannel {
  background: #373737;
  border-radius: 1px;
  color: #fff;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  top: -1px;
}

.articleItemTitle {
  color: #262626;
  font-size: 18px;
  text-align: justify;
  transition: .5s;
}
.weightBold {
  font-weight: 500;
}
.articleItemDescription {
  color: #787878;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 10px;
  max-height: 40px;
  overflow: hidden;
  text-align: justify;
}
.krFlowBar {
  bottom: 2px;
  color: #a7a7a7;
  float: left;
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  width: 100%;
}
.krFlowBarAuthor {
  color: #a7a7a7;
  transition: .5s;
}
.krFlowBar .krFlowBarTime {
  padding-left: 5px;
}
.krFlowBarTimeIcon {
  background: url(../../img/nav.png) no-repeat;
  background-position: 0 -115px;
  background-size: 246px 1012px;
  display: inline-block;
  padding: 5px;
  position: relative;
  right: 5px;
  top: 1px;
}
/* 右侧 */

.krInformationRight,  .krInformationRecommendMotifCotainer {
  float: right;
  width: 300px;
}
.krColumnTitle {
  height: 28px;
  line-height: 28px;
}
.krColumnTitleIcon {
  background: url(//sta.36krcnd.com/36krx2018-front/static/home.d1523964.png) no-repeat;
  background-position: 0 -125px;
  background-size: 246px 1012px;
  display: inline-block;
  padding: 7px;
}
.krColumnTitleText {
  color: #262626;
  font-size: 20px;
  padding-left: 4px;
}
.krHotAuthorList .hotAuthorItem {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}
.hotAuthorPic {
  border-radius: 100%;
  float: left;
  height: 42px;
  overflow: hidden;
  width: 42px;
}
.hotAuthorPic img {
  border-radius: 100%;
  height: 42px;
  width: 42px;
}
.hotAuthorInfo {
  float: right;
  width: 238px;
}
.hotAuthorInfo .hotAuthorName {
  color: #262626;
  display: block;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
}
.ellipsis1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hotAuthorDescription {
  color: #787878;
  font-size: 13px;
  line-height: 18px;
  max-height: 54px;
  overflow: hidden;
  padding-top: 2px;
  text-align: justify;
}
.krFollow {
  height: 0;
}
.krRecommendMotif {
  background: #fff;
}
.recommendMotifItem {
  border-bottom: 1px solid #ddd;
  padding-bottom: 11px;
  padding-top: 14px;
  width: 300px;
}
.recommendMotifItemBanner {
  height: 60px;
  overflow: hidden;
}
.recommendMotifItemBannerPic {
  border-radius: 2px;
  display: flex;
  float: left;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 60px;
}
.recommendMotifItemBannerInfo {
  float: left;
  height: 100%;
  margin-left: 10px;
  position: relative;
  width: 230px;
}
.recommendMotifItemBannerTitle {
  color: #262626;
  display: block;
  font-size: 14px;
  padding-top: 5px;
}
.recommendMotifItemBannerFollow {
  bottom: 4px;
  color: #999ca0;
  font-size: 13px;
  left: 0;
  line-height: 20px;
  position: absolute;
}
.recommendMotifItemDescription {
  color: #787878;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 10px;
  max-height: 40px;
  overflow: hidden;
  text-align: justify;
}
.recommendMotifItemTime {
  color: #a7a7a7;
  font-size: 12px;
  padding-top: 6px;
}
/* **********************热门主题页面*************************** */
.motifDetailBanner {
  background: #262626;
  border-radius: 2px;
  height: 184px;
  overflow: hidden;
  position: relative;
}
.motifDetailBanner .mask {
  background: rgba(36,36,36,.4);
  border-radius: 2px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.motifDetailBanner img {
  height: 100%;
  width: 100%;
}
.motifDetailBanner .motifDetailBannerTitle {
  color: #fff;
  font-size: 28px;
  height: 42px;
  left: 0;
  letter-spacing: 10px;
  line-height: 42px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 71px;
  width: 100%;
}
/* **********************热门文章作者*************************** */
.kr_author_detail .kr_author_detail_right {
  float: right;
  width: 300px;
}
.kr_author_detail_right, .kr_author_detail_right .kr_author_detail_follow_container {
  float: right;
  width: 300px;
}
.kr_loading_more {
  width: 100%;
}
.author_detail_flow .author_detail_flow_list {
  width: 100%;
}
.author_detail_flow .author_detail_flow_list .flow_item:first-child {
  margin-top: 0;
}
.author_detail_flow .author_detail_flow_list .flow_item {
  margin-top: 30px;
}
.author_detail_item {
  height: 143px;
}
.kr_shadow_wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}
.kr_shadow_wrapper .kr_shadow_wrapper_card {
  border-radius: 2px;
  position: absolute;
  transition: all .2s linear;
  z-index: 101;
}
.kr_shadow_wrapper:hover.kr_shadow_wrapper .kr_shadow_wrapper_card{
  box-shadow: 0 0 20px #aaa;
}
.kr_shadow_wrapper .kr_shadow_content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 102;
}
.author_detail_item .author_detail_item_pic {
  border-radius: 2px;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 216px;
}
a {
  text-decoration: none;
}
.author_detail_item .author_detail_item_pic img {
  height: 100%;
  width: 100%;
}
.scaleBig:hover {
  -webkit-transform: scale(1.12);
  transition: all 1s;
}
.author_detail_item .author_detail_item_info .author_detail_item_title:hover{
  color: #00f
}
.author_detail_item .author_detail_item_pic .author_detail_icon {
  background: url(https://sta.36krcnd.com/36krx2018-front/static/home.d1523964.png) no-repeat;
  background-position: 0 -516px;
  background-size: 327.18px 1345.96px;
  bottom: 0;
  height: 48px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  z-index: 1;
}
.author_detail_item .author_detail_item_info {
  float: left;
  height: 100%;
  margin-left: 20px;
  position: relative;
  width: 454px;
}
.author_detail_item .author_detail_item_info .author_detail_item_title {
  color: #262626;
  display: block;
  font-size: 18px;
  line-height: 23px;
  margin-top: 8px;
  max-height: 46px;
  overflow: hidden;
  text-align: justify;
}
.weight_bold {
  font-weight: 500;
}
.ellipsis_2, .ellipsis_3 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.ellipsis_2 {
  -webkit-line-clamp: 2;
}
.author_detail_item .author_detail_item_info .author_detail_item_description {
  color: #787878;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 3px;
  max-height: 40px;
  overflow: hidden;
  text-align: justify;
}
.kr_flow_bar {
  bottom: 2px;
  color: #a7a7a7;
  float: left;
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  width: 100%;
}
.kr_flow_bar .kr_flow_bar_time {
  padding-left: 5px;
}
.kr_flow_bar .kr_flow_bar_time .kr_flow_bar_time_icon {
  background: url(https://sta.36krcnd.com/36krx2018-front/static/home.d1523964.png) no-repeat;
  background-position: 0 -115px;
  background-size: 246px 1012px;
  display: inline-block;
  padding: 5px;
  position: relative;
  right: 5px;
  top: 1px;
}
.kr_loading_more_button {
  border: 1px solid #4285f4;
  border-radius: 1px;
  color: #4285f4;
  cursor: pointer;
  font-size: 16px;
  height: 36px;
  line-height: 34px;
  margin: 0 auto;
  text-align: center;
  width: 148px;
}
.show {
  display: block;
}
.kr_loading_more_tip, .kr_loading_no_more_tip {
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
}
.kr_loading_more_tip {
  border: 1px solid #4285f4;
  border-radius: 1px;
  color: #4285f4;
  width: 148px;
}
.kr_loading_no_more_tip {
  color: #262626;
}
.kr_follow {
  height: 0;
}
.kr_author_detail_right, .kr_author_detail_right .kr_author_detail_follow_container {
  float: right;
  width: 300px;
}
.kr_card {
  position: relative;
  width: 100%;
}
.kr_card .top_line {
  background: #4285f4;
  border-radius: 2px 2px 0 0;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.kr_card_content {
  border: 1px solid #ddd;
  border-radius: 2px;
  min-height: 20px;
}
.author_detail_info {
  padding: 0 15px 16px;
  position: relative;
  width: 300px;
}
.author_detail_info .author_detail_info_header {
  padding-top: 19px;
}
.author_detail_info .author_detail_info_header .author_avatar {
  border-radius: 100%;
  float: left;
  height: 80px;
  width: 80px;
}
.author_detail_info .author_detail_info_header .info_header_text {
  float: left;
  height: 80px;
  overflow: hidden;
  padding-left: 10px;
  padding-top: 15px;
  width: 180px;
}
.author_detail_info .author_detail_info_header .info_header_text .author_name {
  color: #262626;
  display: block;
  font-size: 20px;
  height: 28px;
  line-height: 28px;
  text-align: justify;
  width: 170px;
}
.ellipsis_1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.author_detail_info .author_detail_info_header .info_header_text .author_role {
  background: #f0f6ff;
  border: 1px solid #4285f4;
  color: #4285f4;
  display: inline_block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  margin-top: 4px;
  padding: 0 6px;
  text-align: center;
}
.author_detail_info .author_description {
  color: #787878;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0;
}
.author_detail_info .author_detail_info_footer {
  display: flex;
  justify-content: space-between;
  width: 270px;
}
.author_detail_info .author_detail_info_footer .author_article_count {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  width: 170px;
}
.author_detail_info .author_detail_info_footer .author_article_count i {
  background: #4285f4;
  display: inline-block;
  padding: 5px 1px;
}
.author_detail_info .author_detail_info_footer .author_article_count span {
  color: #a7a7a7;
  font-size: 14px;
  padding-left: 6px;
  text-align: justify;
}
