<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="referrer" content="never">
  <meta charset="UTF-8">
  <!--
    https://www.freebuf.com/news/57497.html
    在使用http协议做请求的时候 可以通过这个标签禁止发送网络请求的时候 请求头中包含reffer属性
    在网站使用https方式部署的时候就不会发送reffer
   -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:url" content="https://36kr.com/">
  <meta property="og:type" content="article">
  <meta property="og:title" content="36氪 | 让创业更简单">
  <meta property="og:description" content="">
  <meta property="og:image" content="https://krplus-pic.b0.upaiyun.com/201602/24094427/3butngz6peklnpft.jpg">
  <meta name="renderer" content="webkit">
  <meta name="baidu-site-verification" content="ET7tYDCqIv">
  <meta name="apple-mobile-web-app-title" content="Title">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="applicable-device" content="pc,mobile">
  <meta name="format-detection" content="telephone=no">
  <meta name="keywords" content="创业,互联网创业,互联网创业项目">
  <meta name="description" content="36氪为您提供创业资讯、科技新闻、投融资对接、股权投资、极速融资等创业服务，致力成为创业者可以依赖的创业服务平台，为创业者提供最好的产品和服务。">
  <title>News</title>
  <link rel="icon" href="https://36kr.com/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="./css/list.css">
  <link rel="stylesheet" href="./css/topics_detail.css">
  <link rel="stylesheet" href="../global.css">
</head>

<body>
  <div id="root"></div>
</body>


</script>

</html>
